@model SubUrl.Models.DTO.UrlCreateDTO

<div class="border p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <h2 class="text-primary text-center pb-5">Создание ссылки</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row py-2">
                <div class="offset-3 col-6">
                    <input id="longValueBox" asp-for="LongValue" class="form-control" placeholder="https://site.net" />
                </div>
                <div class="col-3">
                    <span asp-validation-for="LongValue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row py-4">
                <div class="offset-3 col-4">
                    <input id="responseBox" class="form-control" readonly placeholder="Сокращенная ссылка" />
                </div>
                <div class="col-1">
                    <button id="copyBtn" type="button" class="btn btn-outline-dark" onclick="copyToClipboardResponse()">
                        <i class="fa-regular fa-clipboard"></i>
                    </button>
                </div>
                <span id="afterCopyText" class="col-4 py-1" style="visibility: hidden;"></span>
            </div>
            <div class="form-group row py-4">
                <div class="offset-4 col-4 row">
                    <div class="col">
                        <button type="button" class="btn btn-success w-100" onclick="createNewUrl()">
                            <i class="fa-regular fa-circle-check"></i> &nbsp; Создать
                        </button>
                    </div>
                    <div class="col">
                        <a asp-action="GetList" class="btn btn-warning w-100">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Список ссылок
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            @* Keep this empty *@
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    let longValueBox = document.querySelector("#longValueBox");
    let responseBox = document.querySelector("#responseBox");

    longValueBox.addEventListener('focus', function () {
        if (this.value.length === 0) {
            this.value = 'https://';
        }
    });

    function createNewUrl() {
        let longValue = longValueBox.value;

        fetch("/Url/Create", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                "longValue": longValue,
            }),
            })
            .then(resp => resp.json())
            .then(data => {
                if (data.shortValueLink === undefined) {
                    responseBox.placeholder = data.LongValue;

                    return;
                }

                responseBox.value = data.shortValueLink;
            })
            .catch (err => {
                responseBox.value = err;
            })
    }

    function copyToClipboardResponse() {
        navigator.clipboard.writeText(responseBox.value).then(function () {
            showTextAfterCopyInTime("Ссылка скопирована!", 2000);
        }, function (err) {
            showTextAfterCopyInTime("Ошибка!", 2000);
        });
    }

    function showTextAfterCopyInTime(text, ms) {
        let afterCopyTextSpan = document.querySelector("#afterCopyText");

        afterCopyTextSpan.innerHTML = text;

        afterCopyTextSpan.style.visibility = "visible";

        setTimeout(() => afterCopyTextSpan.style.visibility = "hidden", ms)
    }
</script>
